<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
</head>
<body>
<table class="table is-bordered" style="margin: 30px auto;">
    <thead>
    <tr>
        <td>Id</td>
        <td>name</td>
        <td>订单Id</td>
        <td>订单Id</td>
        <td>benefit</td>
        <td>amount</td>
        <td>status</td>
        <td>成功时间</td>
    </tr>
    </thead>
    <tbody>
    {% for x in s %}
    <tr>
        <td>{{ x['id'] }}</td>
        <td>{{ x['name'] }}</td>
        <td>{{ x['first_order_id'] }}</td>
        <td>{{ x['second_order_id'] }}</td>
        <td>{{ x['benefit'] }}</td>
        <td>{{ x['amount'] }}</td>
        <td>{{ x['status'] }}</td>
        <td>{{ x['ts'] }}</td>
    </tr>
    {% end %}
    </tbody>
</table>
</body>
</html>
